
/* //////////////  Header CSS mobile //////////////// */

.container{
    padding-left: 15px;
    padding-right: 15px;  
}
:root{
    --primary-color-text:#2E2F42; 
    --primary-color-title:#2E2F42;
    --primary-color-baground:#FFFFFF;
    --primary-color-contact:#434455;
    --secondary-color-text: #434455;
    --primary-color-button:#4D5AE5;
    --primary-color-logo1:#4D5AE5;
    --primary-color-logo2:#F4F4FD;
    --footer-color-text:#E7E9FC;
    --color-btn-hover:#404BBF;
    
    --card-set-gap: 24px;
    --portfolio-img-set-gar: 24px;
    --padding-top-set-img: 32px;
    --margin-bottom-set-img: 8px;

    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);    
}

                /* 0-768 */
/* //////////////////////////////////////////// */
@media screen and (max-width:768px){

    @media screen and (min-width:480px) {
        .container-mobile{
            width: 428px;
            margin: 0 auto;
        }

     
    }

    .header-menu-list{
        display: none;
    }

    .header{
    padding: 24px 24px;     
    }
    .header-div{
        display: flex;
        align-items: center;
       
    }
    .container-menu{
        margin-right: auto;
    }

            /* Fonts styles */
.main-logo1,
.footer-logo1{
    font-family: Raleway;
    font-style: normal;
    color: var(--primary-color-logo1);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase; 
}
.main-logo2{
    color: var(--primary-color-title);
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;
} */
.footer-logo2{
    color: var(--primary-color-logo2);
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;
}
}



@media screen and (min-width:768px) {
    .container-mobile{
        width: 766px;
        margin: 0 auto;
    }
}


@media screen and (max-width:1199px){
    
        .container-mobile{
            width: 1199px;
            margin: 0 auto;
        
        }
    .header-menu-list{
        display: none;
    }
}



/* //////////////   //////////////// */