html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
.link{
    text-decoration: none;
    color:inherit;
}
ul,ol,li{
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

h1,h2,h3,h4,h5,p{
    margin-top: 0;
    margin-bottom: 0;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
button{
    cursor: pointer;
}
:root{
    
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color-baground);  
}


/* //////////////  Header CSS mobile //////////////// */
:root {
    --primary-color-text: #2E2F42;
    --primary-color-title: #2E2F42;
    --primary-color-baground: #FFFFFF;
    --primary-color-contact: #434455;
    --secondary-color-text: #434455;
    --primary-color-button: #4D5AE5;
    --primary-color-logo1: #4D5AE5;
    --primary-color-logo2: #F4F4FD;
    --footer-color-text: #E7E9FC;
    --color-btn-hover: #404BBF;

    --card-set-gap: 24px;
    --portfolio-img-set-gar: 24px;
    --padding-top-set-img: 32px;
    --margin-bottom-set-img: 8px;

    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.container{
    padding-left: 15px;
    padding-right: 15px;  
}


                /* 0-768 */
/* //////////////////////////////////////////// */
@media screen and (max-width:760px) {
    
    .header-menu-list {
            display: none;
        }
    
        .header {
            padding: 24px 24px;
        }
    
        .header-div {
            display: flex;
            align-items: center;
        }
    
        .container-menu {
            margin-right: auto;
        }

    
         /* Fonts style */

    /* ///////////////////////////////// */
.main-logo1,
.footer-logo1 {
    font-family: Raleway;
    font-style: normal;
    color: var(--primary-color-logo1);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;
}
    .section{
    padding-top: 96px;
    padding-bottom: 96px;
    }
.hero-section-mobile{
    max-width: 428px;
    height: 432px;
    margin: 0 auto;
    
    background-image: linear-gradient(rgba(46, 47, 66,0.7),
    rgba(46, 47, 66,0.7)), 
    url('../images/mobile/bg-photo.jpg');
    
    background-color: #2E2F42;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title-content-mobile{
    text-align: center;

}
.main-title-item{
    margin-bottom: 80px;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
}

    
.btn-order {
    display: block;
    font-weight: 500;
            font-size: 16px;
            line-height: 1.18;
    
            margin: 0 auto;
    
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            background-color: #4D5AE5;
            color: #FFFFFF;
            border: 1px solid transparent;
    
            padding: 16px 32px;
            border-radius: 4px;
            transition: background-color 650ms linear;
        }
    
        .main-logo2 {
            color: var(--primary-color-title);
            font-family: Raleway;
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            line-height: 1.5;
            text-transform: uppercase;
        }
    
        .footer-logo2 {
            color: var(--primary-color-logo2);
            font-family: Raleway;
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            line-height: 1.5;
            text-transform: uppercase;
        }

/* ////// SECTION 1////// */
.h3-goals:not(:last-child){
    text-align: center;
    margin-bottom: 8px;
}
.wrapper-list{
    width: 100%;
}
.h3-goals {
    color: var(--primary-color-text);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
} 
.main-text-about{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
}
.wrapper-tittle{
    padding-left: 16px;
    padding-right: 16px;
}
.wrapper-item:not(:last-child){
    margin-bottom: 72px;
}

/* ////// SECTION 3 Employee////// */
.main-title-todo{
    text-align: center;
    margin-bottom: 72px;
}
.employees-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.employee-wrapper{
    margin-top: 32px;
    margin-bottom: 8px;
}
.employee-card{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
} 
.employee-card:not(:last-child){
    margin-bottom: 72px;
}


/* ////////////////////////////////// */
.wrapper{
    /* display: flex; */

}
.customers-title{
    text-align: center;
}
.wrapper-panel-icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:16px;
}
.customers-title{
    margin-bottom: 72px;
}
/* //////////////// FOOTER ///////////////// */
.footer-mobile{
    background-color: #2E2F42;
}

.footer-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
.link-logo2{
    color:#F4F4FD;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}
.footer-mobile-link{
    margin-bottom: 16px;
    

}
.footer-logo-mobile{
    color: #4D5AE5;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}
.main-footer-text{
    color: #E7E9FC;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width:268px;
    height: 72px;

    display: flex;
    justify-content: center;
margin: 0 auto;
    margin-bottom: 72px;
}
.footer-social-media{
    display: block;
    text-align: center;
}
.wrapper-list-social-media{
    display: flex;
    margin-bottom: 72px;
    justify-content: center;
}
/* //////////////////////////////////////////// */

.link-subscribe {
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-form{
    
    /* display: inline-block; */
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;

}
.form-input-mobile{
    width: 100%;
    height: 40px;
    background: transparent;
    margin-bottom: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.form-inpubtn:focus{
    outline: none;
    border: 1px solid rgba(77, 90, 229, 1);
}
.container-btn{
    display: flex;
    justify-content: center;
    
}
.link-subscribe{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    letter-spacing: 0.02em;
}
.form-input-mobile{
    padding-left: 15px;
}
.form-input-mobile::placeholder,
{
    padding: 8px 0 8px 16px;
}
.form-input-mobile:focus{
    outline: none;
    background-color: transparent;
    color: #FFFFFF;
}
/* ///////////////////////////////////////////////// */
/* ///////////////  modal window //////////////////////// */
.mobile-menu-form{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    left: 0;
    top: 0;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
    
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    transition: opacity 500ms linear, visibility 500ms linear;

}
.mobile-menu-wrapper{
    position: relative;
    padding-top: 30px;
    padding-left: 40px;
    /* width: 428px; 
    height: 796px; */
}
.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    position: absolute;
}
.btn-open{
    background-color: transparent;
    border: none;
    width: 32px;
    height: 22px;
}
.btn-header-mobile{
    fill:#2E2F42;
}

.btn-close{
    position: absolute;
    top: 26px;
    right: 37px;
    border: none;
    background-color: transparent;
}
.icon-btn-close{
    width: 15px;
    height: 15px;
    line-height: 0; 
    
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

    transition: background-color 250ms linear;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.icon-btn-close:hover{
    background-color:#404BBF;
    outline: none; 
    fill: #FFFFFF;
}
.list-link{
    width: 100%;
    height: 100%;
    position: relative;
    top: 16px;
    margin-top: 16px;
}
.item-link-studio:not(:nth-last-child(3n)){
    margin-bottom: 40px;
}
.item-link-tel{
    margin-top: 284px;
    margin-bottom: 40px;
}
.item-link-email{
    /* margin-bottom: 48px; */
}


.link-studio{
    display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color:#2E2F42;
    text-decoration: none;
}
/* .link-studio:hover{
    color: #4D5AE5;
} */

.link-studio-tel{
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
}
.link-studio-email{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2E2F42;
    
}
.socila-links{
    display: flex;
    margin-top: 48px;
}
.socila-links{
    display: flex;
}
.social-list-mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 56px;
}
.social-link-mobile{
    width: 40px;
    height: 40px;
    padding: 10px 8px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D5AE5;
    fill: #F4F4FD;
}
.social-link-mobile:hover,
.social-link-mobile:focus{
    background-color: #404BBF;
    cursor: pointer;
}
/* ///////////////  modal window //////////////////////// */

}
@media screen and (min-width:768px){
    .menu-links-mobile{
        display: none;
    }
    .socila-links{
        display: none;
    }
    .btn-close{
        display: none;
    }
    .btn-open{
        display: none;
    }
    .header{
        padding: 24px 24px;
    }
    .section{
        padding-top: 112px;
        padding-bottom: 112px;
    } 
    /* .header-div{
        display: flex;
    }
    .container-menu{
        display: flex;
        justify-content: center;  
        align-items: center;  

    }
        .header-menu-list{
        display: flex;
    } */


}

    @media screen and (min-width:768px) {
    .container {
    width: 428px;
    margin: 0 auto;

}
            
    @media screen and (min-width:768px) {
    .container {
    width: 736px;

    }
}
        
        
@media screen and (min-width:1200px) {
        
.container {
    width: 1199px; 
}
        
/* .header-menu-list {
    display: none;
    } */

    }
}


